body {
  background-color: olivegreen;
}
h1 {
  color: darkgreen;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: linen;
  margin-left: 20px; 
  font-family: "Lucida Console", "Courier New", monospace;
}
